<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ИАДиП</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/x3dom.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/d3/d3.min.js"></script>
    <script src="~/Scripts/x3dom.js"></script>
    <script src="~/Scripts/3d_plot.js"></script>
    <script src="~/Scripts/line-chart.js"></script>
    <style>
        .shadow-container {
            -webkit-box-shadow: -5px 5px 50px 14px rgba(0,0,0,0.75);
            -moz-box-shadow: -5px 5px 50px 14px rgba(0,0,0,0.75);
            box-shadow: -5px 5px 50px 14px rgba(0,0,0,0.75);
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Загрузить", "LoadTestResults", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Тест", "Test", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Результаты", "TestResults", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Отчет", "Report", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("ID3-дерево", "DecisionTree", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Результат исследования", "ResearchResult", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "research-result", @style = "display: none" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content shadow-container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ИАДиП</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>