@{
    ViewBag.Title = "Отчет";
}

<style>
    .green-tr {
        background-color: lightgreen;
    }

    .blue-tr {
        background-color: lightblue;
    }

    .red-tr {
        background-color: lightcoral;
    }
</style>

<h2>Кластеризация по атрибутам</h2>
<div class="row">
    <div class="col-lg-12">
        <div id="divPlot" style="height: 1000px"></div>
        
        <h3>Общее резюмирование</h3>
        <p>
            <b>Общее количество объектов:</b> @(ViewBag.totalCount)
        </p>
        <p>
            <b>Все объекты были сгруппированы в три кластера:</b> junior (зеленый), middle (синий), senior (красный)
        </p>
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <th>
                    &nbsp;
                </th>
                <th>
                    Junior
                </th>
                <th>
                    Middle
                </th>
                <th>
                    Senior
                </th>
            </tr>
            <tr>
                <th>
                    Кол-во объектов в кластере
                </th>
                <td>
                    @ViewBag.juniorCount
                </td>
                <td>
                    @ViewBag.middleCount                   
                </td>
                <td>
                    @ViewBag.seniorCount               
                </td>
            </tr>
            <tr>
                <th>
                    Соотношение от общего кол-ва (%)
                </th>
                <td>
                    @(100 * (float)ViewBag.juniorCount / ViewBag.totalCount)
                </td>
                <td>
                    @(100 * (float)ViewBag.middleCount / ViewBag.totalCount)
                </td>
                <td>
                    @(100 * (float)ViewBag.seniorCount / ViewBag.totalCount)
                </td>
            </tr>
            <tr>
                <th>
                    Распределение
                </th>
                <td colspan="3">
                    Объекты по трем кластерам распределены равномерно
                </td>
            </tr>
        </table>

        <h3>Juniors</h3>
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <th></th>
                <th>
                    Минимальное значение
                </th>
                <th>
                    Среднее значение
                </th>
                <th>
                    Максимальное значение
                </th>
            </tr>
            <tr>
                <th>
                    Опыт работы
                </th>
                <td>@ViewBag.juniorMinExperience</td>
                <td>@ViewBag.juniorAvgExperience</td>
                <td>@ViewBag.juniorMaxExperience</td>
            </tr>
            <tr>
                <th>
                    Эффективность сотрудника
                </th>
                <td>@ViewBag.juniorMinPerformance</td>
                <td>@ViewBag.juniorAvgPerformance</td>
                <td>@ViewBag.juniorMaxPerformance</td>
            </tr>
            <tr>
                <th>
                    Занимаемая должность
                </th>
                <td>@ViewBag.juniorMinPos</td>
                <td>@ViewBag.juniorAvgPos</td>
                <td>@ViewBag.juniorMaxPos</td>
            </tr>
        </table>

        <h3>Middles</h3>
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <th></th>
                <th>
                    Минимальное значение
                </th>
                <th>
                    Среднее значение
                </th>
                <th>
                    Максимальное значение
                </th>
            </tr>
            <tr>
                <th>
                    Опыт работы
                </th>
                <td>@ViewBag.middleMinExperience</td>
                <td>@ViewBag.middleAvgExperience</td>
                <td>@ViewBag.middleMaxExperience</td>
            </tr>
            <tr>
                <th>
                    Эффективность сотрудника
                </th>
                <td>@ViewBag.middleMinPerformance</td>
                <td>@ViewBag.middleAvgPerformance</td>
                <td>@ViewBag.middleMaxPerformance</td>
            </tr>
            <tr>
                <th>
                    Занимаемая должность
                </th>
                <td>@ViewBag.middleMinPos</td>
                <td>@ViewBag.middleAvgPos</td>
                <td>@ViewBag.middleMaxPos</td>
            </tr>
        </table>

        <h3>Seniors</h3>
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <th></th>
                <th>
                    Минимальное значение
                </th>
                <th>
                    Среднее значение
                </th>
                <th>
                    Максимальное значение
                </th>
            </tr>
            <tr>
                <th>
                    Опыт работы
                </th>
                <td>@ViewBag.seniorMinExperience</td>
                <td>@ViewBag.seniorAvgExperience</td>
                <td>@ViewBag.seniorMaxExperience</td>
            </tr>
            <tr>
                <th>
                    Эффективность сотрудника
                </th>
                <td>@ViewBag.seniorMinPerformance</td>
                <td>@ViewBag.seniorAvgPerformance</td>
                <td>@ViewBag.seniorMaxPerformance</td>
            </tr>
            <tr>
                <th>
                    Занимаемая должность
                </th>
                <td>@ViewBag.seniorMinPos</td>
                <td>@ViewBag.seniorAvgPos</td>
                <td>@ViewBag.seniorMaxPos</td>
            </tr>
        </table>

        <h3>Компетенция сотрудников категории Junior</h3>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>Сотрудник</th>
                <th>Уровень компетенции extremum (%)</th>
                <th>Лингвистическая переменная</th>
            </tr>
            
            @foreach (var item in ViewBag.juniorCompetence)
            {
                <tr class="@item.className">
                    <td>@item.number</td>
                    <td>@item.value</td>
                    <td>@item.text</td>
                </tr>
            }
        </table>

        <h3>Компетенция сотрудников категории Middle</h3>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>Сотрудник</th>
                <th>Уровень компетенции extremum (%)</th>
                <th>Лингвистическая переменная</th>
            </tr>

            @foreach (var item in ViewBag.juniorCompetence)
            {
                <tr class="@item.className">
                    <td>@item.number</td>
                    <td>@item.value</td>
                    <td>@item.text</td>
                </tr>
            }
        </table>

        <h3>Компетенция сотрудников категории Senior</h3>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>Сотрудник</th>
                <th>Уровень компетенции extremum (%)</th>
                <th>Лингвистическая переменная</th>
            </tr>

            @foreach (var item in ViewBag.juniorCompetence)
            {
                <tr class="@item.className">
                    <td>@item.number</td>
                    <td>@item.value</td>
                    <td>@item.text</td>
                </tr>
            }
        </table>

    </div>
</div>

<h2>Пространственное распределение</h2>

<h3>Компания 1</h3>
<div class="row">
    <div class="col-lg-6" id="container-office-1">
        <h4>Офис 1</h4>

        <div id="office_1" style="height: 500px">
        </div>
        <h4>Благоприятность распределения</h4>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>№</th>
                <th>Категория</th>
                <th>Значение</th>
                <th>Лингв. переменная</th>
            </tr>
            @foreach (var item in ViewBag.office_1)
            {
                <tr class="@item.className">
                    <td>@item.number</td>
                    <td>@item.valueName</td>
                    <td>@item.value</td>
                    <td>@item.text</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6" id="container-office-2">
        <h4>Офис 2</h4>

        <div id="office_2" style="height: 500px">
        </div>

        <h4>Благоприятность распределения</h4>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>№</th>
                <th>Категория</th>
                <th>Значение</th>
                <th>Лингв. переменная</th>
            </tr>
            @foreach (var item in ViewBag.office_2)
            {
                <tr class="@item.className">
                    <td>@item.number</td>
                    <td>@item.valueName</td>
                    <td>@item.value</td>
                    <td>@item.text</td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" id="container-office-2">
        <h4>Офис 3</h4>

        <div id="office_3" style="height: 500px">
        </div>

        <h4>Благоприятность распределения</h4>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>№</th>
                <th>Категория</th>
                <th>Значение</th>
                <th>Лингв. переменная</th>
            </tr>
            @foreach (var item in ViewBag.office_3)
            {
                <tr class="@item.className">
                    <td>@item.number</td>
                    <td>@item.valueName</td>
                    <td>@item.value</td>
                    <td>@item.text</td>
                </tr>
            }
        </table>
    </div>
</div>


<h3>Компания 2</h3>
<div class="row">
    <div class="col-lg-6" id="container-office-1">
        <h4>Офис 1</h4>

        <div id="office_4" style="height: 500px">
        </div>

        <h4>Благоприятность распределения</h4>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>№</th>
                <th>Категория</th>
                <th>Значение</th>
                <th>Лингв. переменная</th>
            </tr>
            @foreach (var item in ViewBag.office_4)
            {
                <tr class="@item.className">
                    <td>@item.number</td>
                    <td>@item.valueName</td>
                    <td>@item.value</td>
                    <td>@item.text</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6" id="container-office-2">
        <h4>Офис 2</h4>

        <div id="office_5" style="height: 500px">
        </div>

        <h4>Благоприятность распределения</h4>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>№</th>
                <th>Категория</th>
                <th>Значение</th>
                <th>Лингв. переменная</th>
            </tr>
            @foreach (var item in ViewBag.office_5)
            {
                <tr class="@item.className">
                    <td>@item.number</td>
                    <td>@item.valueName</td>
                    <td>@item.value</td>
                    <td>@item.text</td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="row">
    
</div>

<h2>Темпоральная характеристика</h2>
<div class="row">
    <div class="col-lg-12">
        <svg id="temporal" width="1000" height="500"></svg>
    </div>

    
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Juniors</h4>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>Интервал</th>
                <th>Значение</th>
                <th>Описание общего уровня квалификации</th>
                <th>Расшифровка</th>
            </tr>
            <tr>
                <td>1-2</td>
                <td>0,33</td>
                <td>Слабый уровень роста</td>
                <td>Нормальная тенденция</td>
            </tr>
            <tr>
                <td>2-3</td>
                <td>-0,51</td>
                <td>Высокий уровень падения</td>
                <td>Прошел набор новых сотрудников</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Middles</h4>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>Интервал</th>
                <th>Значение</th>
                <th>Описание общего уровня квалификации</th>
                <th>Расшифровка</th>
            </tr>
            <tr>
                <td>1-2</td>
                <td>0,78</td>
                <td>Высокий уровень роста</td>
                <td>Нормальная тенденция</td>
            </tr>
            <tr>
                <td>2-3</td>
                <td>-0,55</td>
                <td>Высокий уровень падения</td>
                <td>Прошло недавнее повышение junior-ов</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Seniors</h4>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>Интервал</th>
                <th>Значение</th>
                <th>Описание общего уровня квалификации</th>
                <th>Расшифровка</th>
            </tr>
            <tr>
                <td>1-2</td>
                <td>0,34</td>
                <td>Слабый уровень роста</td>
                <td>Нормальная тенденция</td>
            </tr>
            <tr>
                <td>2-3</td>
                <td>-2,12</td>
                <td>Высокий уровень падения</td>
                <td>Прошло повышение middle-разработчиков в senior-ы</td>
            </tr>
        </table>
    </div>
</div>

<script>
    // Кластеризация по признакам.
    scatterPlot3d(d3.select('#divPlot'), '@ViewBag.attrClusteredData', '@ViewBag.expertAttrAssessment');

    // Компания 1.
    scatterPlot3d(d3.select('#office_1'), '@ViewBag.office_1g', '@ViewBag.expertAttrAssessment');
    scatterPlot3d(d3.select('#office_2'), '@ViewBag.office_2g', '@ViewBag.expertAttrAssessment');
    scatterPlot3d(d3.select('#office_3'), '@ViewBag.office_3g', '@ViewBag.expertAttrAssessment');

    // Компания 2.
    scatterPlot3d(d3.select('#office_4'), '@ViewBag.office_4g', '@ViewBag.expertAttrAssessment');
    scatterPlot3d(d3.select('#office_5'), '@ViewBag.office_5g', '@ViewBag.expertAttrAssessment');

    InitChart('#temporal', '@ViewBag.juniorTotalGrowth', '@ViewBag.middleTotalGrowth','@ViewBag.seniorTotalGrowth');
</script>